<?xml version="1.0" ?>
<launch>
  <arg name="use_present" default="true" />

  <param name="robot_description"
         command="$(find xacro)/xacro.py '$(find lookso_jr_description)/urdf/lookso_jr.xacro'"/>

  <!-- send joint values -->
  <node name="robotis_joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false"/>
    <param name="rate" value="30"/>
  </node>

  <!-- Combine joint values to TF-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
  </node>

  <!-- Show in Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find lookso_jr_description)/rviz/lookso_jr.rviz"/>
</launch>
